.header__burger {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	z-index: 2;
	// background-color: rgb(180, 111, 111);


	span {
		position: absolute;
		width: 30px;
		height: 3px;
		left: 5px;
		background-color: var(--low-color);

		&:nth-child(1) {
			transform: translateY(-10px);
		}

		&:nth-child(3) {
			transform: translateY(10px);
		}
	}
}

@media (max-width: 992px) {
	.header__burger {
		display: block;
	}
	
	.nav__list {
		position: absolute;
		top: 0;
		left: 0;
		display: block;

		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: aquamarine;

	}

	.nav__Link {
		font-size: 25px;
		color: #fff;
		display: block;

	}
}